%p#notice= notice
%p
  %strong Name:
  = @forms_set.name
%p
  %strong Description:
  = @forms_set.description

= link_to 'Edit', edit_forms_set_path(@forms_set)

- @forms_questions.each do |forms_question|
  %div
    %p= forms_question.position
    %label= forms_question.title
    %br/
    response = forms_question.build_response
    %input{:type => "#{forms_question.field_type.shortcode}", :placeholder=>"#{forms_question.placeholder_text}"}

\#{link_to 'Back', forms_sets_path}
