<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @forms_set.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @forms_set.description %>
</p>

<%= link_to 'Edit', edit_forms_set_path(@forms_set) %> |
<%= link_to 'Back', forms_sets_path %>
