%p#notice= notice
%p
  %strong Name:
  = @forms_set.name
%p
  %strong Description:
  = @forms_set.description

= link_to 'Edit', edit_forms_set_path(@forms_set)

=form_for @forms_submission, :url => forms_set_submissions_path(@forms_set, @forms_submission) do |f|
  -@forms_questions.each do |forms_question|
    %div
      %label
        %span
          =forms_question.position
        =forms_question.title
      %br/
      =fields_for :responses do |r|
        = r.text_field :value, :placeholder=>"#{forms_question.placeholder_text}"
  =f.submit "Save"
