<%= form_for(@forms_submission) do |f| %>
  <% if @forms_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forms_submission.errors.count, "error") %> prohibited this forms_submission from being saved:</h2>

      <ul>
      <% @forms_submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :set_id %><br>
    <%= f.text_field :set_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
