%p#notice= notice
%p
  %strong Form Set:
  = @forms_submission.set.name

%table
  %thead
    %tr
      %th Response
  %tbody
    - @forms_submission.responses.each do |response|
      %tr
        %td
          = response.question
          -# = response.value
        %td{:colspan => "3"}



= link_to 'Edit', edit_forms_set_submission_path(@forms_set, @forms_submission)

= link_to 'Back', forms_set_submissions_path
