<p id="notice"><%= notice %></p>

<h1>Listing Forms Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Position</th>
      <th>Set</th>
      <th>Field type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms_questions.each do |forms_question| %>
      <tr>
        <td><%= forms_question.title %></td>
        <td><%= forms_question.position %></td>
        <td><%= forms_question.set %></td>
        <td><%= forms_question.field_type %></td>
        <td><%= link_to 'Show', forms_question %></td>
        <td><%= link_to 'Edit', edit_forms_question_path(forms_question) %></td>
        <td><%= link_to 'Destroy', forms_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_forms_question_path %>
