<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forms_question.title %>
</p>

<p>
  <strong>Position:</strong>
  <%= @forms_question.position %>
</p>

<p>
  <strong>Forms set:</strong>
  <%= @forms_question.forms_set %>
</p>

<p>
  <strong>Forms field type:</strong>
  <%= @forms_question.forms_field_type %>
</p>

<%= link_to 'Edit', edit_forms_question_path(@forms_question) %> |
<%= link_to 'Back', forms_questions_path %>
