<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @forms_response.question %>
</p>

<p>
  <strong>Response text:</strong>
  <%= @forms_response.response_text %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @forms_response.field_type %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @forms_response.entry %>
</p>

<%= link_to 'Edit', edit_forms_response_path(@forms_response) %> |
<%= link_to 'Back', forms_responses_path %>
