<p id="notice"><%= notice %></p>

<p>
  <strong>Forms question:</strong>
  <%= @forms_response.forms_question %>
</p>

<p>
  <strong>Forms set:</strong>
  <%= @forms_response.forms_set %>
</p>

<p>
  <strong>Response text:</strong>
  <%= @forms_response.response_text %>
</p>

<p>
  <strong>Forms field type:</strong>
  <%= @forms_response.forms_field_type %>
</p>

<%= link_to 'Edit', edit_forms_response_path(@forms_response) %> |
<%= link_to 'Back', forms_responses_path %>
