<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @forms_response.question %>
</p>

<p>
  <strong>Value:</strong>
  <%= @forms_response.value %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @forms_response.field_type %>
</p>

<p>
  <strong>Submission:</strong>
  <%= @forms_response.submission %>
</p>

<%= link_to 'Edit', edit_forms_response_path(@forms_response) %> |
<%= link_to 'Back', forms_responses_path %>
